/* Styles pour le footer */
.footer {
  position: fixed; /* Position fixe */
  bottom: 0; /* Alignement en bas de la fenêtre */
  width: 100%; /* Largeur pleine */
  background-color: #ffffff; /* Couleur de fond claire */
  padding: 3rem 0; /* Espacement interne plus grand */
  font-family: 'Arial', sans-serif; /* Famille de polices */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); /* Ombre sous le footer */
}

/* Styles pour les titres dans le footer */
.footer h5 {
  color: #333333; /* Couleur du texte foncé */
  font-size: 1.8rem; /* Taille de la police */
  margin-bottom: 1.5rem; /* Espacement en bas */
  font-weight: bold; /* Police en gras */
}

/* Styles pour les liens dans le footer */
.footer a {
  color: #007bff; /* Couleur du lien bleu clair */
  font-size: 1.4rem; /* Taille de la police */
  transition: color 0.3s; /* Transition pour une animation fluide */
  text-decoration: none; /* Supprimer la soulignement des liens */
}

/* Styles pour les liens au survol */
.footer a:hover {
  color: #0056b3; /* Couleur du lien bleu plus foncé au survol */
  text-decoration: underline; /* Souligner le lien au survol */
}

/* Styles pour le texte du footer */
.footer p {
  color: #666666; /* Couleur du texte gris */
  font-size: 1.4rem; /* Taille de la police */
  line-height: 1.8; /* Hauteur de ligne */
}

/* Styles pour le bas du footer */
.footer-bottom {
  background-color: #f5f5f5; /* Couleur de fond plus claire */
  padding: 1rem 0; /* Espacement interne */
}

/* Styles pour le texte du bas du footer */
.footer-bottom p {
  color: #888888; /* Couleur du texte gris plus foncé */
  font-size: 1.4rem; /* Taille de la police */
  text-align: center; /* Alignement centré */
}
