@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 
  background-color :black;
  font-family: Georgia, 'Times New Roman', Times, serif;

} 
header{
  background-color: black;

}
 

Auth{
  background-color: aliceblue;
}